html {
  scroll-behavior: smooth;
}
body{
	margin:0;
	text-align:center;
	font-family: 'Merriweather', serif;
	color: #40514E;
}
h1{
	margin: 0 auto 0 auto;
	font-size: 5.62rem;
	font-family: 'Sacramento', cursive;
}
h2{
color: #00005c;
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
font-weignt: normal;
padding-bottom: 10px;
}
h3{
color: #11999E;
font-family: 'Montserrat', sans-serif;
}
td{
	text-align:center;
}
.top-container{
	position:relative;
	height:600px;
	margin-left:17%;
	width:65%;
	background:url('https://scontent.fbom3-2.fna.fbcdn.net/v/t31.0-8/18527334_1161795260597294_2700514278944228608_o.jpg?_nc_cat=105&_nc_sid=19026a&_nc_ohc=wXS2sXXZHSsAX_vdr5o&_nc_ht=scontent.fbom3-2.fna&oh=cb24545683eda916fdb1c150025b23a3&oe=5EFBB9BE');
	padding-top:10px;
	margin-top:100px;
	opacity:0.6;
}
.middle-container{
	
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.bottom-container{
	background-color:#ececec;
	bottom:0px;

}
.bold{
	font-weight: bold;
}
.circular{
	border-radius: 1%;
	width:50%;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.top-cloud{
	position:absolute;
	right:150px;
	top:100px;
}
.bottom-cloud{
	position:absolute;
	left:150px;
	bootom:300px;
}
.logo{
	height:5%;
	width:5%;
}
.red{
	color:red;
}
#top{
	}
#education{
	}
#internship(
)
#project{
}
#computer{
}
#extra{
}
#hobbies{
}
#bottom(
)
#language{
}
#about{
}
